.board {
  width: 1024px;
  height: 1024px;
  background-image: url("/images/wood-pattern-parquet-floor-tiles.jpg");}
.board>table {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;}
.heading {
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
  font-size: 200%;
  padding: 10px;}
.tile {
  width: 270px;
  height: 270px;
  background-size: 270px;
  background-color: AliceBlue;}
.A1:hover {
  background-image: url("/images/octagon.png");}
.A2:hover {
  background-image: url("/images/square.png");}
.A3:hover {
  background-image: url("/images/circle.png");}
.B1:hover {
  background-image: url("/images/triangle.png");}
.B2:hover {
  background-image: url("/images/hexagon.png");}
.B3:hover {
  background-image: url("/images/square.png");}
.C1:hover {
  background-image: url("/images/circle.png");}
.C2:hover {
  background-image: url("/images/triangle.png");}
.C3:hover {
  background-image: url("/images/pentagon.png");}
