.tile {
  width: 270px;
  height: 270px;
  background-size: 270px;}
.A1:hover {
  background-image: url("/images/octagon.png");}
.A2:hover {
  background-image: url("/images/square.png");}
.A3:hover {
  background-image: url("/images/circle.png");}
.B1:hover {
  background-image: url("/images/triangle.png");}
.B2:hover {
  background-image: url("/images/hexagon.png");}
.B3:hover {
  background-image: url("/images/square.png");}
.C1:hover {
  background-image: url("/images/circle.png");}
.C2:hover {
  background-image: url("/images/triangle.png");}
.C3:hover {
  background-image: url("/images/pentagon.png");}
