.board {
  width: 1024px;
  height: 1024px;
  background-image: url("/images/wood-pattern-parquet-floor-tiles.jpg");
  border-radius: 10px;}
.board>table {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;}
.heading {
  text-align: center;
  vertical-align: middle;
  font-family: monospace;
  font-size: 200%;
  color: GhostWhite;
  padding: 24px;}
.tile {
  width: 270px;
  height: 270px;
  background-size: 270px;
  background-color: #efeae9;
  border-color: rgba(90,45,31,0.5);
  border-width: thick;
  border-style: inset;}
.A1:hover {
  background-image: url("/images/octagon.png");}
.A2:hover {
  background-image: url("/images/square.png");}
.A3:hover {
  background-image: url("/images/circle.png");}
.B1:hover {
  background-image: url("/images/triangle.png");}
.B2:hover {
  background-image: url("/images/hexagon.png");}
.B3:hover {
  background-image: url("/images/square.png");}
.C1:hover {
  background-image: url("/images/circle.png");}
.C2:hover {
  background-image: url("/images/triangle.png");}
.C3:hover {
  background-image: url("/images/pentagon.png");}
.play, .submit {
  font-family: monospace;
  font-size: 125%;}
fieldset {
  width: 350px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: right;}
legend {
  background-color: #efefef;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;}
form {
  margin-top: 24px;}
